.content-wrapper {
  flex-grow: 100;
  background: $background;
  display: flex;
  max-height: 100vh;
  overflow: hidden;

  .content {
    width: 100%;
    overflow: scroll;
    .content-section {
      display: flex;
      justify-content: space-between;

      .content-title {
        @include phone {
          padding-top: $padding / 2;
        }
        justify-content: center;
        align-items: center;
        padding-left: $padding;
        color: $selected;
        text-transform: capitalize;
        @include shadow;
        @include animation() {
          transform: translate(-100%);
        }
      }
      .content-nav {
        @include phone {
          padding-top: $padding / 2;
        }
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        @include userSelectNone;
        @include shadow;
        li {
          padding-right: $padding;
          @include phone {
            padding-right: $padding / 2;
          }
          &.content-nav-back {
            @include phone {
              padding-right: 10px;
            }
          }

          color: $selected;

          &:hover {
            cursor: pointer;
            @include computer {
              color: $unSelected;
              @include shadowUnselected;
            }
          }
        }
      }
      &.content-section-right {
        flex-direction: column;
        justify-content: right;
        align-items: flex-end;
      }
      .content-intro {
        padding: $padding;
        text-justify: end;
        color: white;
        text-align: justify;
        @include phone {
          text-align: left;
        }
        @include animation() {
          transform: translate(100%);
        }
      }

      .content-gallery {
        min-height: 200px;
      }
      .content-border {
        width: 100%;
        height: $padding;
        background: $barColor;
        &.top {
          @include animation() {
            transform: translateY(-100%);
            opacity: 0;
          }
        }
        &.bottom {
          @include animation() {
            transform: translateY(100%);
            opacity: 0;
          }
        }
      }
    }
  }
  .content-text {
    overflow: scroll;
    padding: $padding;
    text-align: justify;
    text-justify: inter-word;
    color: white;
    justify-content: space-between;
    font-weight: 300;
    @include phone {
      text-align: left;
    }
    @include animation() {
      opacity: 0;
    }
  }
}
