body,
html,
.app {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh !important;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-size: 16px;
}

h1,
h4,
ul,
li,
nav,
p {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  justify-content: center;
  align-items: center;
  @include userSelectNone;
  font-weight: 600;
  font-size: 120px;

  @include ipad {
    font-size: 70px;
  }
  @include phone {
    font-size: 50px;
  }
  @include phone-small {
    font-size: 40px;
  }
}

h4 {
  font-weight: 300;
  font-size: 16px;
  @include ipad {
    font-size: 15px;
  }
  @include phone {
    font-size: 14px;
  }
}

p {
  font-weight: 300;
  font-size: 14px;
}

ul {
  list-style-type: none;
}
