@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import "./Colors";
@import "./Mixin";
@import "./Padding";
@import "./HtmlBody";
@import "./SideBar";
@import "./Content";

.App {
  width: 100%;
  display: flex;
}
