@mixin phone-small {
  @media only all and (max-width: 400px) {
    @content;
  }
}

@mixin phone {
  @media only all and (max-width: 600px) {
    @content;
  }
}

@mixin ipad {
  @media only all and (min-width: 600px) and(max-width: 1000px ) {
    @content;
  }
}

@mixin computer {
  @media only all and (min-width: 1000px) {
    @content;
  }
}

$phonePad: 4px;
$ipad: 6px;
$comupterPad: 8px;
@mixin _shadow($color) {
  text-shadow: -$comupterPad $comupterPad $color;
  @include phone {
    text-shadow: -$phonePad $phonePad $color;
  }
  @include ipad() {
    text-shadow: -$ipad $ipad rgba(251, 0, 201, 0.5);
  }
}

@mixin shadow {
  @include _shadow(rgba(251, 0, 201, 0.5));
}
@mixin shadowUnselected {
  @include _shadow(#3e96f570);
}

@mixin userSelectNone {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin animation {
  transition: all $transitionTime;
  transition-timing-function: ease-in-out;
  &.animation {
    @content;
  }
}
