$sideBarWide: 130px;
$transitionTime: 250ms;
.overLay {
  @include animation {
    @include phone-small {
      position: absolute;
      background: $background;
      left: (calc(#{$sideBarWide} + #{$padding} * 2 + #{$padding}));
      width: calc(100vw - #{$sideBarWide} - #{$padding} * 2 - #{$padding});
      height: 100%;
      z-index: 9999;
      overflow: auto;
      opacity: 0.99;
    }
  }
}
.sideBar-wrapper {
  height: 100%;
  z-index: 999;
  display: flex;
  @include animation {
    margin-left: (calc(-#{$sideBarWide} - #{$padding} * 2));
  }

  .sideBar {
    background: $sideBarbackground;
    min-width: $sideBarWide;
    max-width: $sideBarWide;
    padding-top: calc(#{$padding} * 2);
    padding-left: $padding;
    padding-right: $padding;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    .sideBar-title {
      color: $unSelected;
      @include animation() {
        color: $selected;
      }
      transition: color $transitionTime ease-in-out;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .sideBar-Bar {
    overflow: visible;
    position: relative;
    width: $padding;
    height: 100vh;
    background: $barColor;
    display: flex;
    justify-items: justify-content;
    .sideBar-svg {
      width: $padding;
      @include animation() {
        transform: rotate(-180deg);
      }
    }
  }
}
